{% extends "pjax/base.html, pjax/base_pjax.html"|pjax:request %}
{% load templatetag_handlebars %}

{% block title %}Pjax test{% endblock %}

{% block content %}

<span class="label label-default" id="load_timer" style="position:absolute; top:10px; right:10px; background:teal;"></span>   

<h3>Badges</h3>

<p style="color:teal;">A server-side call to the API was made to get the data AND pass it back to the Django template.</p>

<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

<div id="badge_list_container" data-badges="{{badges}}" style="border: solid 1px teal; padding: 1em; position:relative; display:none;">
    
    <div style="text-align:center;"><span class="glyphicon glyphicon-refresh"></span></div>
    
    <!-- hanblebars template here -->
    {% tplhandlebars "tpl-badge-list" %}
        
        <span class="label label-default" id="hb_timer" style="position:absolute; top:10px; right:10px; background:teal;"></span> 
        
        <p style="color:teal;">A function was called after the request...to load the API data using Handlebars!</p>
        
        <ul>
        {{ #each badges }}
            <li>
                <div>{{ id }}, {{ name }}
                <br/>description: {{ description }}</div>
            </li>
        {{/each}}
        </ul>
                
    {% endtplhandlebars %}
    
</div>

<div id="badge_list_test" style="border: solid 1px red; padding: 1em; position:relative;">loading...</div>

{% endblock %}