{% extends "pjax/base.html, pjax/base_pjax.html"|pjax:request %}

{% block title %}Pjax test{% endblock %}

{% block content %}


<h3>Badges</h3>

<p style="color:teal;">That is because the view made a server-side call to the API to get the data AND pass it back to the Django template to be rendered.</p>

<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

<ul>
    <!-- for each badge in badges -->
    {% for badge in badges %}
    <li>
        <div>{{ badge.id }}, {{ badge.name }}
        <br/>description: {{ badge.description }}</div>
    </li>
    {% endfor %}
        
</ul>



{% endblock %}