{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

    <h2>Angular</h2>
    
    <ul>
      <li><a href="/angular">Home</a></li>
      <li><a href="/angular/about">About</a></li>
      <li><a href="/angular/test">Test</a></li>
    </ul>
         
    <!-- placeholder for views -->
    <div data-ng-view=""></div>
    
    
{% endblock %}

{% block app_js %}
    <script src="{% static "js/vendor/angular-1.2.13.min.js" %}"></script>
    <script src="{% static "js/vendor/angular-route-1.2.13.min.js" %}"></script>
    <script src="{% static "js/vendor/angular-resource-1.2.13.min.js" %}"></script>
    <script src="{% static "angular/js/app.js" %}"></script>
    <script src="{% static "angular/js/controllers.js" %}"></script>
{% endblock %}

