{% extends "hybrid/base.html" %}
{% load templatetag_handlebars %}

{% block title %}Hybrid badges{% endblock %}

{% block content %}

<h3>Badges</h3>

<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

<p style="color:purple;">This template has a view that is making a server-side call to the API. The json data is being passed into a data- attribute in the div below:</p>

<!-- store the badge json as a data- attribute -->
<div id="badge_list_container" data-badges="{{badges}}" style="border: solid 1px purple; padding: 1em; position:relative;">
    
    
    
    <div>jquery is rendering the data using handlebars...</div>
    
    {% tplhandlebars "tpl-badge-list" %}
        
        <span class="label label-default" id="hb_timer" style="position:absolute; top:10px; right:10px; background:purple;"></span> 
        
        <ul>
        {{ #each badges }}
            <li>
                <div>{{ id }}, {{ name }}
                <br/>description: {{ description }}</div>
            </li>
        {{/each}}
        </ul>
                
    {% endtplhandlebars %}
    
</div>

{% endblock %}