{% extends "hybrid/base.html" %}
{% load templatetag_handlebars %}

{% block title %}Hybrid badges{% endblock %}

{% block content %}

<h3>Badges</h3>

<p>Here is a list of badges from the API</p>

<!-- store the badge json as a data- attribute -->
<div id="badge_list_container" data-badges="{{badges}}" style="border: solid 1px fuchsia; padding: 1em;">
    
    <div>loading via handlebars...</div>
    
    {% tplhandlebars "tpl-badge-list" %}
        
        <ul>
        {{ #each badges }}
            <li>
                <div>{{ id }}, {{ name }}
                <br/>description: {{ description }}</div>
            </li>
        {{/each}}
        </ul>
                
    {% endtplhandlebars %}
    
</div>

{% endblock %}