{% extends "hybrid/base.html" %}
{% load templatetag_handlebars %}

{% block title %}Hybrid badges{% endblock %}

{% block content %}

<h3>Badges</h3>

<p>Here is a list of badges from the API</p>

<div id="badge_list_container" style="border:solid 1px red; padding: 1em;" data-badges="{{badges}}">
    
    loading...
    
    {% tplhandlebars "tpl-badge-list" %}
    
        {{#each badgestuff }}
            {{ @index : name }}
        {{/each}}
            
    {% endtplhandlebars %}
    
</div>

<!--<script type="text/javascript">
    badges_json = {{ badges }};
    widget.init(badges_json);
</script>-->

{% endblock %}